<launch>
  <arg name="static_map_file"  default="$(find config_files)/maps/appartment.yaml"/>
  <arg name="prohibition_map_file"  default="$(find config_files)/prohibition_maps/appartment.yaml"/>
  <arg name="initial_pose_x" default="3.25"/>
  <arg name="initial_pose_y" default="6.30"/>
  <arg name="initial_pose_a" default="-1.57"/>
  <arg name="/base_link_name" default="base_link"/>
  
  <node name="prohibition_map_server" pkg="map_server" type="map_server" output="screen" args="$(arg prohibition_map_file)">
    <remap from="/static_map" to="/prohibition_map"/>
    <remap from="/map" to="/prohibition_layer_map"/>
  </node>
 
  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(arg static_map_file)"/>

  <node name="amcl" pkg="amcl" type="amcl" output="screen" args="scan:=/hardware/scan">
    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <param name="update_min_a" value="0.3"/>
    <param name="laser_min_range" value="0.2"/>
    <param name="odom_model_type" value="omni"/>
  </node>
</launch>
